# Port to run the app on
PORT=XXXX

# Postgresql database local connection string
DATABASE_URL=postgresql://username:password@localhost:5432/database_name?schema=public

# Secret to generate JWT
JWT_SECRET=hexadecimalstring